*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.openchatbox {
    background-color:aqua;
    border-radius: 100%;
    color: white;
    padding: 10px 10px;
  }
  .Chatbox {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 5px solid #f1f1f1;
  }
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    background: #f1f1f1;
    min-height: 200px;
  }
  .form-container textarea:focus {
    background-color: #ddd;
  }
  .form-container .btn {
    background-color: #30e2e2;
    color: white;
    padding: 15px 20px;
    margin-bottom:10px;
  }
  .form-container .closechatbox {
    background-color: rgb(8, 8, 8);
  }
  